// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

    
}

.calendar-selected-day {
        border-bottom: 2px solid rgb(93, 135, 240);
}

.event-bar {
    min-height: 3px;
    min-width: 18px;
    
    margin-top: 2px;
    margin-bottom: 2px;

    border-radius: 999px;

    background: #4f8cff;
}

.calendar-other-month {
    opacity: 0.4;
}

.calendar-other-month {
    color: #383737;
}

.calendar-other-month {
    opacity: 0.35;
    font-weight: normal;
}

button {
    background: transparent;
    border: none;
    box-shadow: none;
}

button {
    border-radius: 8px;
}

button {
    padding: 4px 8px;
}

button:hover {
    background: rgba(255,255,255,0.1);
}

button:active {
    background: rgba(255,255,255,0.2);
}

.calendar-day {
    background: transparent;
    border: none;
    box-shadow: none;
    min-width: 0;
    min-height: 0;
    padding: 2px;
}

.calendar-day:hover {
    background: rgba(255,255,255,0.08);
}

.next-event {
    padding: 12px;
    border-radius: 12px;
    background: rgba(255,255,255,0.05);
}

.next-event-title {
    font-weight: bold;
    font-size: 15px;
}

.next-event-name {
    font-size: 16px;
    font-weight: bold;
}

.holiday-bar{
    min-width: 18px;
    min-height: 3px;

    margin-top: 2px;
    margin-bottom: 2px;
    
    border-radius: 999px;

    background: #1b7b3f;
}

.holiday-label{
    color:#252625;

    font-weight:bold;

    font-size:15px;

    margin:8px 0;
}

.bar-left{
    padding: 0 8px;
}

.bar-icon-button {
    min-width: 5px;
    min-height: 5px;

    border-radius: 999px;
}

.bar-icon-button label {
    color: white;
    font-size: 16px;
}

switch {
    min-width: 20px;
    min-height: 10px;
}

switch slider {
    min-width: 14px;
    min-height: 14px;
}

switch {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 999px;
}

switch:checked {
    background: #6857e9;
}

switch slider {
    background: rgb(203, 200, 200);
    border-radius: 999px;
}

.bt-device {
    padding: 6px 8px;
    border-radius: 10px;
}

.bt-device:hover {
    background: rgba(255,255,255,0.06);
}

.bt-device-name {
    font-size: 13px;
    opacity: 600;
}

.bt-device-status{
    font-size: 11px;
    opacity: 0.65;
}

.bt-device-menu {
    min-width: 22px;
    min-height: 22px;
    padding: 0;
}

.bt-icon-button {
    color: rgb(48, 47, 47);
    font-size: 16px;
}